/.phpunit.cache
/node_modules
/npm-debug.log
/public/build
/public/hot
/public/storage
/public/css/accounting/
/public/css/bezhansalleh/
/public/css/blogs/
/public/css/chatter/
/public/css/fields/
/public/css/filament/
/public/css/full-calendar/
/public/css/guava/
/public/css/malzariey/
/public/css/plugins/
/public/css/support/
/public/css/table-views/
/public/css/website/
/public/fonts/filament/filament/inter/index.css
/resources/css/*.css
/storage/*.key
/storage/pail
/vendor
.env
.env.testing
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.agents
/.zed
boost.json
opencode.json
/playwright-report
/test-results
/plugins/webkul/*/resources/css/*.css
/plugins/webkul/*/resources/dist/*.css
